* {
    margin: 0px;
    padding: 0px;
}

body {
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin: 0;
    padding: 0;
    background-color: #f0f8ff;
    color: #333;
}
nav {
    background-color: #f0f8ff;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    list-style: none;
    padding: 7px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -70px;
}

ul a {
    text-decoration: none;
    color: #6d8191;
}

.cent a {
    margin: 0 15px;
}

.cent a:hover {
    color: #06a0f1;
    border-radius: 10px;
}

.desk-logo img {
    width: 120px;
    margin-left: -80px;
    cursor: pointer;
}

#Log-btn {
    padding-right: 30px;
}

#Log-btn a:hover{
    color: #06a0f1;
}

#App-btn a {
    background-color: #ffffff;
    border: none;
    cursor: pointer;
    font-weight: 500;
    font-family: "poppins";
    white-space: nowrap;
    outline: none;
    width: 100px;
    text-align: center;
    padding:  9px 30px;
    border-radius: 50px;
    color: #6d8191;
    text-decoration: none;
    margin-bottom: 15px;
    margin-right: 40px;
}

#App-btn a:hover {
    background-color: #06a0f1;
    color: #ffffff;
    font-weight: 700;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.075);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: -10px 0px 10px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    width: 100%;
}

.sidebar a {
    width: 100%;
    margin: 0 10px 20px;
}

.sidebar img {
    width: 95px;
    padding-bottom: 30px;
    margin-left: 20px;
}

.log-sign{
    padding-top: 30px;
    margin-left: 20px;
}

.hero-section {
    text-align: center;
    margin-top: 100px;
    padding: 0 0 0 ;
}

.first {
    font-size: 15px;
    margin-top: 30px;
    width:fit-content;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.first span {
    color: white;
    background: #06a0f1;
    border-radius: 25px;
    padding: 2px 12px;
}

.first p {
    background: #dff1ff;
    color: #55c1ff;
    border: 10px;
    padding: 5px 10px 5px 5px;
    border-radius: 20px;
    font-weight: 600;
}

.con h1 {
    color: #102a43;
    font-size: 65px;
    justify-content: center;
    text-align: center;
    padding: 0 250px;
}

.con span {
    color: #06a0f1;
}

.second {
    color: #4b6783;
    text-align: center;
    justify-content: center;
    padding: 20px 320px;
    font-size: 18px;
    margin-left: 70px;
}

.and {
   border-radius: 10px;
   height: 60px;
}

.app {
    border-radius: 10px;
    height: 60px;
}

.download {
    padding: 20px;
    margin-left: 90px;
}

.mobi img {
    width: 700px;
    margin-left: 320px;
    margin-bottom: 70px;
}

/* First section starts */

.rev-sec {
    background: #fffdfa;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    background-attachment: fixed;
}

.rev-sec h1 {
    font-size: 50px;
    color:#102A43 ;
    width: 500px;
    margin-left: 50px;
    padding-left: 40px;
}

.rev-sec h1 span {
    font-size: 50px;
    color: #06a0f1;
}

.rev-sec p {
    color: #506C86;
    font-size: 14px;
    width: 300px;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 30px;
    margin-left: 50px;
}

.rev-sec button {
    background-color: #41BEFF;
    padding: 15px 20px;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    color: white;
    margin-left: 90px;
    margin-top: 20px;
}

.pic-sec {
    position: relative;
    width: 100px; 
    height: 200px;
    margin-left: 800px;
    margin-top: -450px;
  }

  .pic-sec img {
    position: absolute;
    top: 50px;
    left: 0;
    background-image: url(img/bg2.png); 
    background-repeat: no-repeat;
    background: transparent;
  }

  .s1 {
    margin-left: 90px;
    width: 350px;
  }

  .s2 {
    z-index: 1;
    margin-left: 90px;
    /* margin-top: 100px; */
    width: 350px;
  }

  .s3 {
    z-index: 2;
    margin-left: 20px;
    /* margin-top: 0px; */
    width: 220px;
  }

.hero-section img {
    width: 250px;
    margin-right: 60px;
}

/* Second section starts */

.call-sec {
    display: flex;
    flex-direction: column-reverse;
    background-color: white;
    margin-top: 120px;
  }

  .vcall h1 {
    font-size: 50px;
    font-weight: bold;
    color:#102A43 ;
    width:500px;
    margin-left: 800px;
    margin-top: 250px;
}

.vcall h1 span {
    font-size: 50px;
    color: #41BEFF;
}

.vcallpc {
    margin-left: 730px;
}

.vcall p {
    color: #506C86;
    font-size: 14px;
    width:450px;
    margin-left: 70px;
    padding-top: 10px;
}

.vcall .checklist li {
    list-style: none;
    padding: 8px;
    color: #102A43;
    font-size: 14px;
    font-weight: bold;
  }
  
 .vcall .checklist li::before {
    content: '\2713'; 
    color: #41BEFF; 
    display: inline-block;
    width: 1em; 
    margin-left: 70px;
    padding: 4px;
    background-color: #EFF8FF;
    border-radius: 30px;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .checklist li::after {
    margin: 30px;
    padding-right: 10px;
  }

  .calling {
    margin-top: -450px;
    margin-left: 150px;
  }

  .dail {
    margin-bottom: 260px;
  }

  .c1 {
    margin-right: -390px;
    margin-bottom: 70px;
  }

  /*Third Section starts*/
  .secdb {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 100px;
  }

  .secdb h1 {
    font-size: 52px;
    color: #102A43;
    width: 900px;
    padding-left: 30px;
    margin-left: 70px;
  }

  .secdb h1 span {
    color: #06a0f1;
  }

  .secdb p {
    color: #102A43;
    font-size: 18px;
    width: 500px;
    padding-left: 20px;
    margin-left: 80px;
    margin-top: 20px;
  }

  .secdb ul {
    list-style: none;
    padding: 20px;
    color: #102A43;
    font-size: 14px;
    font-weight: bold;
    margin-left: 80px;
  }

  .secdb ul li::before {
    content: '\2713';
    color: #06a0f1;
    display: inline-block;
    width: 1em;
    padding-left: 20px;
    padding: 4px;
    background-color: #EFF8FF;
    border-radius: 20px;
    justify-content: space-around;
    margin-bottom: 10px;
  }

  .secdb ul li::after {
    margin: 30px;
    padding-right: 10px;
  }

  .userdb {
    position: relative;
    width: 300px;
    height: 100px;
  }

  .userdb img {
    position: absolute;
    width: 270px;
    top: 0;
    left: 0;
    padding-left: 800px;
    margin-top: -350px;
  }

  .ud {
    margin-left: 200px;
  }

  .um {
    margin-left: 10px;
  }

  /* Fourth section */

  .elevate {
    margin-top: 150px;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
  }

  .elevate h1 {
    font-size: 50px;
    color: #102A43;
    width: 900px;
    text-align: center;
    padding-left: 230px;
  }

  .elevate h1 span {
    color: #06a0f1;
  }

  .elevate p {
    color: #506C86;
    font-size: 18px;
    justify-content: center;
    align-content: center;
    width: 900px;
    text-align: center;
    padding-top: 20px;
    padding-left: 230px;
  }

  /* Fifth Section */

  .vcon {
    background-color: #020f33;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
    padding-bottom: 150px;
    border-radius: 20px;
  }

  .vcon1a {
    width: 520px;
    height: 440px;
    justify-content: center;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    margin-top: -90px;
    margin-left: 70px;
  }

  .vcon1 img{
    width: 450px;
    margin-top: -500px;
    margin-left: 110px;
  }

  .vcon .vcon1a {
    text-align: center;
    padding: 30px;
    color: #020f33;
    margin-bottom: ;
  }

  .vcon1a p {
    color: #506C86;
    padding: 20px;
  }

  .vcon2 {
    width: 580px;
    height: 500px;
    justify-content: center;
    background-color: white;
    margin: 10px;
    border-radius: 10px;
    margin-top: -654px;
    margin-left: 680px;
  }

  .vcon2 img {
    width: 480px;
    margin-top: -230px;
    margin-left: 40px;
  }

  .vcon2 .vcon2b {
    text-align: center;
    padding: 30px;
    color: #020f33;
  }

  .vcon2b p {
    color: #506C86;
    padding: 20px;
  }

  .vcondiv {
    padding: 100px;
    text-align: center;
  }
  .vcondiv h1 {
    color: white;
    width: 600px;
    margin-left: 290px;
    font-size: 50px;
    text-align: center;
  }

/* Mobile style begins */

.show {
    display: block;
}

.right {
    margin-right: 60px;
}

.menu-btn {
    display: none;
}

@media (max-width: 800px) {
   .hideOnMobile{
    display: none;
   }
   .menu-btn{
    display: block;
   }
}
@media (max-width: 400px) {
    .sidebar{
        width: 100%;
    }
}